<header>
	<div class="logo-container">
		<h1 id="logo">beatnik</h1>
		<p id="slogan">focus your audio &#x266B;</p>
	</div>
	<form class="" action="/auth/spotify" method="get">
		<button id="spotify-sign-in" type="submit" name="button">LOG IN WITH SPOTIFY</input>
	</form>
</header>
