<div id="wrapper" class="flex-container layer">
	<div id="logo" class="flex-item">
	  <div class="flex-col-container">
	    <div class="vert-center-flex-item">
	      <h1 id="logo">beatnik</h1>
				<p id="slogan">focus your audio</p>
	      <form class="" action="/auth/spotify" method="get">
	        <button id="spotify-sign-in" type="submit" name="button">LOG IN WITH SPOTIFY</input>
	      </form>
	    </div>
	  </div>
	</div>
</div>
