<div class="visual">
<style>
#b {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #2a1644, #06210b);
}
</style>
<canvas id="b">

<script>
$(document).ready(function() {

  // audio init
  ctx = new AudioContext();
  audio = document.getElementById('audio-player');
  audioSrc = ctx.createMediaElementSource(audio);
  analyser = ctx.createAnalyser();
  audioSrc.connect(analyser);
  audioSrc.connect(ctx.destination);
  frequencyData = new Uint8Array(analyser.frequencyBinCount);
  analyser.getByteFrequencyData(frequencyData);

  c = b.getContext('2d');
  MAX = 360;

  onload = function update(event) {

    requestAnimationFrame(update);
    analyser.getByteFrequencyData(frequencyData);
    highFreq = 0;
    freqIndex = 0;
    color = 0;
    for(i = 0; i < frequencyData.length; i++) {
      if (frequencyData[i] >= highFreq) {
        highFreq = frequencyData[i];
        freqIndex = i;
      }
    }

    if (freqIndex > 0 && freqIndex < 360) {
      color = Math.pow(freqIndex, 2);
      if (color > 360) {
        color = 360;
      }
    } else {
      color = 360;
    }
    // console.log(color);

    // init
    if (!window.time) {
      // time, frames, and vines init
      time = 0;
      trackTime = 0;
      frame = 0;
      timeNextFrame = 0;
      vines = [{x:0, y:0, a:0, ai:0, w:8, p:[], l:MAX*60}];
    }

    if (frequencyData[0] > 0) {
      trackTime = 1;
    } else {
      trackTime = 0;
    }

    // time update
    currentTime = performance.now() / 1000;
    if (trackTime == 1) {
      while(time < currentTime) {
        while(time < timeNextFrame) {
          time += 1 / 16384;
        }
        frame++;
        timeNextFrame += 1/60;

        // update visuals
        vines = vines.filter(v => v.l--);
        vines.forEach(v => {
          dx = Math.cos(v.a) * v.w / 2;
          dy = Math.sin(v.a) * v.w / 2;
          v.x += dx;
          v.y += dy;
          v.a += v.ai / v.w / 2;
          v.p.splice(0, v.p.length - v.l);
          v.p.splice(0, v.p.length - 60 * 5);
          v.p.push({x:v.x, y:v.y, dx:dx, dy:dy});
          // frame % num represents beat
          // i.e. if tempo is 60bpm, then num = 60
          // (frame % 60 == 0)
          if (frame % 15 == 0) {
            v.ai = Math.random() - 0.5;
          }
          if (v.w > 1 && Math.random() < v.l / 16384 / 2) {
            vines.push({x:v.x, y:v.y, a:v.a, ai:v.ai, w:v.w / 2, p:[], l:Math.min(v.l, 0|v.w * 32 * (1 + Math.random()))});
          }

        })
      }
    }
    

    // render visual
    H = b.height = 512;
    W = b.width = 0 | H * innerWidth / innerHeight;
    c.translate(W/2, H/2);
    c.shadowBlur = 24;
    vines.forEach(v => {
      c.shadowColor = 
      c.strokeStyle = 'hsl(' + color + ',100%,'+(60+v.w*5)+'%)';
      if (v.w == 8) {
        c.translate(-v.x, -v.y);
      }
      c.beginPath();
      line = v.p.length - 1;
      for(i = line; p = v.p[i]; i--) {
        c.lineTo(p.x, p.y);
      }
      c.stroke();
      
      })
    }
})

</script>
</div>