		<style>
		  div.user-spotify-player {
			  position: fixed;
			  top: 300px;
			  bottom: 380px;
			  width: 295px;
			  height: 53%;
			  overflow-y: scroll;
			  margin-top: 20px;
			  text-overflow: ellipsis;
			}
		</style>

		<div class="user-spotify-player" style="padding-top: 200px;">
			<audio id="stream" class="player" controls="" preload="" autobuffer="" crossorigin="anonymous" src="https://p.scdn.co/mp3-preview/0bceea9bccc6464ddfad9b80f91aabf10685f9db"></audio>
			<ul>
			 <li><h3><%= spotify_user.playlists[index.to_i].name %></h5></li>
			    <br/>
			    <% spotify_user.playlists[index.to_i].tracks.each do |track| %>
			     <a id="<%=track.preview_url%>" class="track"> <%= track.artists.first.name %>: <%= track.name %></a>
			    <br/>
			    <% end %>

			</ul>
		</div>
