<% spotify_user.playlists[index.to_i].tracks.each do |track| %>
	<li data-img-url="<%=track.album.images[0]['url']%>" class="track"><a id="<%=track.preview_url%>" class="track"> <%= track.artists.first.name %>: <%= track.name %></a></li> 
<% end %>