<p><%= spotify_user.id %> is logged in!</p>

<ul>
	<% spotify_user.playlists.each do |playlist| %>
		<li><%= playlist.name %></li>
	<% end %>
</ul>

<iframe src=<%= 'https://embed.spotify.com/?uri=' + spotify_user.playlists[3].uri %> width="300" height="380" frameborder="0" allowtransparency="true"></iframe>