/*
 *= require_tree .
 *= require_self
 */

@import "compass";


img.user-photo-img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

span.user-name h1 {
  display: inline;
  font-size: 2em;
}

.user-spotify-player {
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.flex-container-left {
  height:100vh;
  width: 300px;
  display: flex;
  justify-content: left;
  align-items: left;
  color: white;
  border-right: 3px solid white;
}

body {
  margin: 0;
  background-color: black;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  height: 100%;
}

.flex-col-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div.vert-center-flex-item {
  flex: 1;
}

h1 {
  margin-top: 100%;
  font-size: 4em;
  font-family: 'Droid Serif', serif;
  color: white;
}

button#spotify-sign-in {
  width: 210px;
  height: 30px;
  border-radius: 30px 30px 30px 30px;
  border: none;
  background-color: #1db955;
  color: white;
}

button#spotify-sign-in:hover {
  background: lighten(#1db955, 7%);
  transform: scale(1.025);
}
