/*
 *= require_tree .
 *= require_self
*/

@import "compass";

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: black;
  font-family: 'Titillium Web', sans-serif;
  overflow: hidden;
}

header {
  background-image: url("/Wynwood_blue.jpg");
  height: 100vh;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

h1#logo {
  margin-bottom: 0px;
  font-size: 5em;
  font-family: 'Droid Serif', serif;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 6px rgba(64, 88, 173, 0.85);
  height: 85px;
}

p#slogan {
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  color: rgb(64, 88, 173);
  text-shadow: 2px 2px 6px #d7dae6;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 5vh;
  margin-left: 2vh;
  font-size: 18px;
}

button#spotify-sign-in {
  margin-bottom: 19vh;
  width: 225px;
  height: 30px;
  border-radius: 30px 30px 30px 30px;
  border: none;
  background-color: #1db955;
  color: white;
  outline: none;
}

button#spotify-sign-in:hover {
  background: lighten(#1db955, 7%);
  transform: scale(1.025);
  cursor: pointer;
}

button#spotify-sign-in:active {
  outline: none;
  border: none;
}

.sidebar {
  width: 300px;
  height: 100%;
}

.user {
  background-color: #282828;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 300px;
  display: flex;
  height: 15%;
}

.user-photo {
  display: inline-block;
  width: 20%;
}

img.user-photo-img {
  margin-left: 5px;
  margin-top: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.user-name {
  display: flex;
  padding-left: 5px;
  padding-top: 0px;
  width: 80%;
  text-overflow: ellipsis;
}

.user-name h1 {
  display: inline;
  font-family: 'Droid Serif', sans-serif;
  font-weight: 400;
  font-size: 23px;
}

.log-out-button {
  border-radius: 5px 5px 5px 5px;
  border: none;
  color: white;
  outline: none;
  margin: 0;
  background-color: rgba(235, 242, 249, 0);
}

.log-out-button:hover {
  color: #1fc75c;
  cursor: pointer;
}

.log-out-button:active {
  outline: none;
  border: none;
}

.playlists-header {
  color: white;
  top: 65px;
  width: 300px;
  position: fixed;
  background-color: #282828;
  border: none;
  font-weight: 200;
  font-size: 1.5em;
  text-align: center;
  z-index: -1;
  margin: 0;

}

table {
  width: 284px;
}

.user-playlists {
  font-weight: bold;
  background-color: #181818;
  position: fixed;
  margin-top: 2px;
  float: right;
  top: 105px;
  height: 43%;
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.playlist-table-data {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 279px;
  margin-left: 2vh;
  font-weight: 300;
}

td.user-playlist:hover {
  color: white;
}

td.user-playlist {
  cursor: pointer;
  color: gray;
  font-size: 110%;
  font-weight: 300;
  padding-left: 2vh;
  text-overflow: ellipsis;
}

.user-spotify-player {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 44%;
  overflow: hidden;
}

.flex-container-left {
  height:100%;
  width: 300px;
  display: flex;
  justify-content: left;
  align-items: left;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 100vh;
}


#hidden-container, #visual-container {
  position: absolute;
  background-color: black;
}

#hidden-container {
  background-color: #282828;
  top: 0px;
  width: 302px;
  bottom: 0px;
  height: 100vh;
  overflow: hidden;
}

#visual-container {
  top: 0px;
  left: 305px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  height: 100%;
}

div#hidden-container.hidden {
  z-index: -2;
}

button#side-button {
  background-color: rgba(0, 0, 0, 0.55);
  color: gray;
  border: none;
  font-size: 24px;
  font-weight: bold;
  outline: none;
  margin-top: 2vh;
  left: 315px;
  position: fixed;
  z-index: 2;
  border-radius: 10px 10px 10px 10px;
}

button#side-button:hover {
  transform: scaleY(1.15);
  color: white;
}

button#side-button:active {
  border: none;
  outline: none;
}

#wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;

}

.flex-col-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div.vert-center-flex-item {
  flex: 1;
}


.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  height: 99%;
  width: 99%;
  overflow: hidden;
  z-index: -1;
}

button#side-button.forward {
  z-index: 2;
  position: fixed;
  left: 0px;
  margin-left: 2vh;
}

button#down-arrow {
  padding: 0;
  margin-left: 0.8vh;
  outline: none;
  border: none;
  background-color: #282828;
  font-size: 2em;
  height: 30px;
  color: #4687d6;
  margin-top: 3px;
}

button#down-arrow:hover {
  color: white;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}

div.audio-player {
  overflow: hidden;
  height: 100%;
}

div#drop-down-container {
  width: 70px;
}

div#logout-drop-down {
  margin-left: 6px;
  width: 60px;
  background-color: rgba(218, 229, 241, .45);
  border-radius: 3px 3px 3px 3px;
  padding-bottom: 2px;
}

div#logout-drop-down.hidden{
  display: none;
}

ul#playlist {
  margin: 0;
  padding: 0;
  background-color: #181818;
}

li.track {
  background-color: #181818;
  border-bottom: 2px solid #252525;
  display: flex;
  font-weight: 200;
}

li.track:hover {
  background: lighten(#181818, 3%);
  cursor: pointer;
}

div.order-num {
  display: inline-block;
  margin-left: 4%;
  color: #a0a0a0;
  height: 100%;
  padding-top: 13px;
  font-size: 18px;

}

div.song {
  display: inline-block;
  align-self: center;
  margin-left: 13%;
}

div.artist {
  color: #a0a0a0;
  font-size: 14px;
}

button#styles-button {
  background-color: rgba(0, 0, 0, 0.55);
  color: gray;
  border: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  display: inline;
  z-index: 2;
  border-radius: 5px 5px 5px 5px;
}

button#styles-button:hover {
  color: white;
}

button#styles-button:active {
  border: none;
  outline: none;
}

div#styles {
  position: fixed;
  right: 9vh;
  margin-top: 2vh;
  z-index: 2;
  align-content: center;
}

div#styles-dropdown.hidden {
  display: none;
}

div#styles-dropdown {
  display: inline;
}

ul#styles-list {
  list-style-type: none;
  padding: 0;
  width: 50px;
  margin-right: 5px;
}

ul#styles-list li {
  margin-left: 5px;
  padding: 0;
  padding-bottom: 10px;
  padding-left: 5px;
  width: 130px;
  height: 20px;
  border-bottom: 2px solid #a0a0a0;
  padding-top: 5px;
  font-weight: 700;
}

ul#styles-list li:hover {
  background-color: rgba(64, 88, 173, 0.65);
  cursor: pointer;
}

#b {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #2a1644, #06210b);
}
