/*
 *= require_tree .
 *= require_self
*/

@import "compass";

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: black;
  font-family: 'Titillium Web', sans-serif;
}

header {
  background-image: url("/Wynwood_blue.jpg");
  height: 100vh;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

h1#logo {
  margin-bottom: 0px;
  font-size: 5em;
  font-family: 'Droid Serif', serif;
  color: white;
  text-shadow: 1px 1px 6px rgba(64, 88, 173, 0.85);
  height: 85px;
}

p#slogan {
  font-family: 'Droid Serif', serif;
  color: rgb(64, 88, 173);
  text-shadow: 2px 2px 6px #d7dae6;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 5vh;
  margin-left: 2vh;
  font-size: 18px;
}

button#spotify-sign-in {
  margin-bottom: 19vh;
  width: 225px;
  height: 30px;
  border-radius: 30px 30px 30px 30px;
  border: none;
  background-color: #1db955;
  color: white;
  outline: none;
}

button#spotify-sign-in:hover {
  background: lighten(#1db955, 7%);
  transform: scale(1.025);
  cursor: pointer;
}

button#spotify-sign-in:active {
  outline: none;
  border: none;
}

.sidebar {
  width: 300px;
  height: 100vh;
  overflow: hidden;
}

.user {
  background-color: #282828;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 300px;
  display: flex;
  height: 60px;
}

.user-photo {
  display: inline-block;
  width: 20%;
}

img.user-photo-img {
  margin-left: 5px;
  margin-top: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.user-name {
  display: inline-block;
  padding-left: 5px;
  padding-top: 0px;
  width: 80%;
}

.user-name h1 {
  display: inline;
  font-family: 'Droid Serif', sans-serif;
  font-size: 25px;
}

.log-out-button-container {
  position: fixed;
  top: 60px;
  width: 300px;
  background-color: #282828;
  border: none;
  z-index: 1;
}

.log-out-button {
  border-radius: 30px 30px 30px 30px;
  border: none;
  background-color: #1db955;
  color: white;
  outline: none;
  margin-left: 2px;
}

.log-out-button:hover {
  background: lighten(#1db955, 7%);
  transform: scale(1.025);
  cursor: pointer;
}

.log-out-button:active {
  outline: none;
  border: none;
}

.playlists-header {
  color: white;
  top: 65px;
  width: 300px;
  position: fixed;
  background-color: #282828;
  border: none;
  z-index: 1;
  font-weight: light;
  font-size: 1.5em;
  text-align: center;
}

table {
  width: 284px;
}

.user-playlists {
  font-weight: bold;
  background-color: #181818;
  position: fixed;
  margin-top: 2px;
  float: right;
  top: 105px;
  bottom: 380px;
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.playlist-table-data {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 279px;
}

td.user-playlist:hover {
  color: white;
}

td.user-playlist {
  cursor: pointer;
  color: gray;
  font-size: 110%;
}

.user-spotify-player {
  position: fixed;
  left: 0px;
  bottom: -10px;
  // margin-b
  // height: 476px;
  overflow: hidden;
}

.flex-container-left {
  height:100%;
  width: 300px;
  display: flex;
  justify-content: left;
  align-items: left;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 100vh;
}


#hidden-container, #visual-container {
  position: absolute;
  background-color: black;
}

#hidden-container {
  background-color: #282828;
  top: 0px;
  width: 302px;
  bottom: 0px;
  height: 100%;
  overflow: hidden;
}

#visual-container {
  top: 0px;
  left: 305px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  height: 100%;
}

div#hidden-container.hidden {
  z-index: -2;
}

button#side-button {
  background-color: black;
  color: gray;
  border: none;
  font-size: 24px;
  font-weight: bold;
  outline: none;
  margin-top: 2vh;
  left: 315px;
  position: fixed;
  z-index: 2;
}

button#side-button:hover {
  transform: scaleY(1.25);
  color: white;
}

button#side-button:active {
  border: none;
  outline: none;
}

#wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;

}

.flex-col-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div.vert-center-flex-item {
  flex: 1;
}


.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  height: 100%;
  width: 100%;
  z-index: -1;
}

button#side-button.forward {
  z-index: 2;
  position: fixed;
  left: 0px;
  margin-left: 2vh;
}

button#down-arrow {
  padding: 0;
  margin-left: 0.8vh;
  outline: none;
  border: none;
  background-color: #282828;
  font-size: 2em;
  height: 50px;
  color: #4687d6;
}

button#down-arrow:hover {
  color: white;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}

div.audio-player {
  overflow: hidden;
}

div#psuedo-body {
  height: 100vh;
  width: 100vh;
  overflow: hidden;
}
