/*
 *= require_tree .
 *= require_self
 */

@import "compass";

.sidebar {
  width: 300px;
}

.user {
  background-color: #282828;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 300px;
  display: flex;
  height: 60px;
}

.user-photo {
  display: inline-block;
  width: 20%;
}

img.user-photo-img {
  margin-left: 5px;
  margin-top: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.user-name {
  display: inline-block;
  padding-left: 5px;
  padding-top: 15px;
  width: 80%;
}

.user-name h1 {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.log-out-button {
  position: fixed;
  top: 60px;
  width: 300px;
  background-color: #282828;
  border-bottom: 1px solid #282828;
  z-index: 1;
}

.playlists-header {
  top: 80px;
  width: 300px;
  position: fixed;
  background-color: #282828;
  border-top: 1px solid #282828;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

table {
  width: 284px;  
}

.user-playlists {
  background-color: #181818;
  position: fixed;
  margin-top: 2px;
  float: right;
  top: 98px;
  bottom: 380px;
  width: 300px;
  overflow-y: scroll;
}

.playlist-table-data {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 279px;
}

td.user-playlist:hover {
  color: white;
}

td.user-playlist {
  cursor: pointer;
  color: gray;
  font-size: 110%;
}

.user-spotify-player {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 380px;
}

.flex-container-left {
  height:100vh;
  width: 300px;
  display: flex;
  justify-content: left;
  align-items: left;
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: black;
  background-image: url("/Wynwood_blue.jpg");
}

#hidden-container, #visual-container {
  position: absolute;
}

#hidden-container {
  top: 0px;
  width: 305px;
  bottom: 0px;
}

#visual-container {
  top: 0px;
  left: 305px;
  right: 0px;
  bottom: 0px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  height: 100%;
}

.flex-col-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div.vert-center-flex-item {
  flex: 1;
}

h1#logo {
  margin-top: 100%;
  margin-bottom: 0px;
  font-size: 5em;
  font-family: 'Droid Serif', serif;
  color: white;
  text-shadow: 1px 1px 6px #401f7a;
  height: 85px;
}

p#slogan {
  font-family: 'Droid Serif', serif;
  color: #525b6f;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: 15px;
  font-size: 18px;
}

button#spotify-sign-in {
  width: 270px;
  height: 35px;
  border-radius: 30px 30px 30px 30px;
  border: none;
  background-color: #1db955;
  color: white;
  outline: none;
}

button#spotify-sign-in:hover {
  background: lighten(#1db955, 7%);
  transform: scale(1.025);
  cursor: pointer;
}

button#spotify-sign-in:active {
  outline: none;
  border: none;
}